files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/99_install_composer.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      echo "Instalando Composer..."
      curl -sS https://getcomposer.org/installer | php -- --install-dir=/usr/local/bin --filename=composer
      composer self-update
      echo "Versión de Composer instalada:"
      composer --version
